In [1]:
import sys
import os
import numpy as np
import pandas as pd

sys.path.append(os.path.abspath('../..'))

from offshore_wind_nj.config import INTERIM_DATA_DIR, ERA5_DATA_DIR, BUOY_DATA_DIR
import matplotlib.pyplot as plt
from pyproj import Proj, Transformer

2025-02-25 14:11:42.932 | INFO     | offshore_wind_nj.config:<module>:11 - PROJ_ROOT path is: C:\Users\crist\OneDrive - montclair.edu\00.MSU_MsDataScience\2024-2025.OFFSHORE_RESEARCH\2024.FALL\03.CODING\00.CCNM_OffshoreWind2425(Github)

In [2]:
os.listdir(BUOY_DATA_DIR)

['44025h2023.txt', '44025h2023.txt.gz', '44065h2023.txt', '44065h2023.txt.gz']

In [3]:
buoy_44025_path = os.path.join(BUOY_DATA_DIR, '44025h2023.txt')
buoy_44065_path = os.path.join(BUOY_DATA_DIR, '44065h2023.txt')

In [16]:
header = pd.read_csv(buoy_44025_path, sep=r"\s+", nrows=1)
units = pd.read_csv(buoy_44025_path, sep=r"\s+", skiprows=0, nrows=1)

In [18]:
new_columns = [f"{col} ({unit})" for col, unit in zip(header.columns, units.iloc[0])]

In [19]:
new_columns

['#YY (#yr)',
 'MM (mo)',
 'DD (dy)',
 'hh (hr)',
 'mm (mn)',
 'WDIR (degT)',
 'WSPD (m/s)',
 'GST (m/s)',
 'WVHT (m)',
 'DPD (sec)',
 'APD (sec)',
 'MWD (degT)',
 'PRES (hPa)',
 'ATMP (degC)',
 'WTMP (degC)',
 'DEWP (degC)',
 'VIS (mi)',
 'TIDE (ft)']

In [24]:
pd.read_csv(buoy_44025_path, sep="\\s+", skiprows=2, names=new_columns)

,#YY (#yr),MM (mo),DD (dy),hh (hr),mm (mn),WDIR (degT),WSPD (m/s),GST (m/s),WVHT (m),DPD (sec),APD (sec),MWD (degT),PRES (hPa),ATMP (degC),WTMP (degC),DEWP (degC),VIS (mi),TIDE (ft)
0,2023,1,1,0,0,999,4.3,5.1,99.00,99.00,99.00,999,1010.1,999.0,7.2,999.0,99.0,99.0
1,2023,1,1,0,10,999,3.5,4.2,0.90,9.09,4.93,122,1009.8,999.0,7.3,999.0,99.0,99.0
2,2023,1,1,0,20,999,2.9,3.6,99.00,99.00,99.00,999,1009.8,999.0,7.3,999.0,99.0,99.0
3,2023,1,1,0,30,999,2.9,3.6,99.00,99.00,99.00,999,1009.9,999.0,7.3,999.0,99.0,99.0
4,2023,1,1,0,40,999,4.1,5.4,0.93,10.81,5.03,152,1010.3,999.0,7.3,999.0,99.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50492,2023,12,18,12,20,999,99.0,99.0,99.00,99.00,99.00,999,9999.0,999.0,10.9,999.0,99.0,99.0
50493,2023,12,18,12,30,999,99.0,99.0,99.00,99.00,99.00,999,985.8,999.0,10.9,999.0,99.0,99.0
50494,2023,12,18,12,40,999,99.0,99.0,6.22,12.90,8.88,155,9999.0,999.0,11.0,999.0,99.0,99.0
50495,2023,12,18,12,50,999,99.0,99.0,99.00,99.00,99.00,999,985.5,999.0,11.0,999.0,99.0,99.0
50496,2023,12,18,13,0,999,99.0,99.0,99.00,99.00,99.00,999,9999.0,999.0,11.0,999.0,99.0,99.0